h1 {
  text-align: center;
}

.container {
  width: 300px;
  margin: 0 auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

label + input[type="radio"] {
  margin-left: 24px;
}
