h1 {
  text-align: center;
}

.container {
  text-align: center;
}

.todo-container {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  box-sizing: border-box;
}

.todo-head,
.todo-body {
  padding: 12px;
  box-sizing: border-box;
}

.btn-container {
  display: flex;
  text-align: center;
}

.btn {
  cursor: pointer;
  color: deepskyblue;
}

.selected {
  background-color: #222222;
  color: #fff;
}

.remaining {
  text-align: center;
}

.label {
  flex: 1;
  font-weight: 600;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.row {
  height: 32px;
  line-height: 32px;
  border-top: 1px solid #e1e1e1;
}

.delete {
  float: right;
  color: orangered;
  cursor: pointer;
}

.todo-text {
  margin-left: 14px;
}
